*
!*.*
!*/
!makefile
!LICENSE

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.dat
*.inp
*.txt
!requirements.txt
*.npz
*.pkl
*.npy
*.pyc
*.pdf
*.eps
*.out
*.sizes
*.png
*.jpg
!/codes/opacities/*
tests/outputs/
tests/scripts/radmc_data_for_pinte/
codes/outputs/